/* 
    font-family: 'Homemade Apple', cursive;

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Raleway', sans-serif; */
.bo{
    background: beige;
}
.logo{
    height: 10rem;

    
}
.logo-section{
    height: 30vh;
    width: 100vw;
}
.conta{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
}
.fecha{
    height: 45vh;
    width: 100vw;


}
.number{
    margin: 2rem;
}



