.nave{
    width: 100vw;
}
.logo{
    height: 4rem;
    width: 4rem;

    
}
.ima{
    height: 1.5rem;

}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    height: 70vh;
    background-color: black;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;

    
}
.conta{
    background-color: black;
    /* color: beige; */
    width: 95%;
    height: 100%;
}
.contenido{
    width: 100%;
    min-height: 30vh;

}
.nuevo{
    color: beige;


}
.rosa{
    background-color: rgb(252, 65, 99);
    color: bisque;
}
.rosa:hover{
    background-color: rgb(246, 127, 149);
    color: bisque;



}
.ima{
    height: 1.5rem;
}
.up{
    height: 1rem;
}